
.cardSection {
    position: relative;
    width: 100%;
    min-height: 100vh;
}
.cardSection .container { width: 1550px; }
.cardContainer {
    position: relative;
    width: 25%;
    min-height: 475px;
    transition: all 0.2s ease-in;
    border: 1px solid transparent;
    overflow: hidden;
    margin-bottom: 20px;
}
@media (max-width: 1440px) {
    .cardContainer { width: 33.333%; }
}
.cardContainer:hover {border-color:#333;}
.priceLabel, .listingPrice {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 2px 10px;
    display: block;
    z-index: 1;
}
.listingPrice { left: 10px; }
.listingPrice span {text-decoration: line-through; opacity: .6; color: red; margin-left: 5px;}

.priceLabel {font-size: 1.3rem; background-color: #f1f1f1;font-weight: 500;}
.discountLabel {
    position: absolute;
    top: -.55rem;
    left: -2.3rem;
    width: 6rem;
    background-color: black;
    padding: 1.3rem 2rem 0;
    transform: rotate(-45deg);
    font-weight: 700;
    /* font-size: .9rem; */
    text-align: center;
    color: white;
}
.wishlistButton {
    position: absolute;
    top: .5rem;
    right: .5rem;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    cursor: pointer;
}
.wishlistButton i {transform: scale(1.0); font-size: 1.3rem;}
.wishlistButton.active {animation: scaleAnime 1s ease-in;}
@keyframes scaleAnime  {  50% {transform: scale(1.5);} }

.imageBlock {
    position: relative;
    width: 100%;
    height: 322px;
    background-color: #eceff0; 
    border: 1px solid #f1f1f1;
}
.imageBlock img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.p_textBlock {
    position: relative;
    width: 100%;
    padding: 10px;
}
.sizesBlock {
    position: relative;
    margin-left: -10px;
    margin-top: -10px;
    width: calc(100% + 20px);
    height: 53px;
    background-color: #fff;
    margin-bottom: 10px;
}
.p_name {font-weight: 500;}
.subImages {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    border: 1px solid #f1f1f1;
    border-top: 0;
    overflow-x: scroll;
}
.subImages::-webkit-scrollbar { width: 5px; height: 3px; }
.subImages::-webkit-scrollbar-track { border-radius: 10px;}
.subImages::-webkit-scrollbar-thumb { background: black; }
   

  
.subImages li {
    width: 50px;
    height: 50px;
    padding: .2rem;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-content: inherit;
    cursor: pointer;
    border: 1px solid transparent;
    border-right-color: #f1f1f1;
    transition: all 0.3s ease;
}
.subImages li:hover, 
.subImages li:hover:first-child,
.subImages li.active, 
.subImages li.active:first-child {
    border-color: black; 
    border-left-color: black;
}
.subImages li:first-child {border-left-color: #f1f1f1;}
.subImages li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



